language: cpp

sudo: true

compiler:
  - gcc
  - clang

cache: apt

before_script:
  - sh build/installCXXDependencies.sh
  - cd build
  - cmake -Dtest=ON ..

script:
  - make
  - ctest --output-on-failure
